#root {
  margin: 0 auto;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  display: inline-block;
  text-align: left;
  background-image: linear-gradient(#eaeaea 0%, #c6c6c6 100%);
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  color: #a5a5a5;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
  padding: 13px 18px;
  font-size: 16px;
}

.square:hover {
  opacity: 0.8;
}

.tapped {
  display: none;
  padding: 15px 20px;
  color: red;
}

.tap {
  display: inline-block;
  color: blue;
  border-radius: 4px;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

